* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

:root {
  --main-color: #141414;
}

.link {
  color: inherit;
  text-decoration: none;
}

.home {
  background-color: var(--main-color);
  overflow: hidden;
}

.navbar {
  width: 100%;
  color: white;
  font-size: 14px;
  position: fixed;
  top: 0;
  z-index: 999;
}
.navbar.scrolled {
  background-color: var(--main-color);
}
.navbar .container {
  height: 68px;
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(360deg, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
}
@media (max-width: 480px) {
  .navbar .container {
    padding: 0 20px;
  }
}
@media (max-width: 380px) {
  .navbar .container {
    padding: 0 10px;
  }
}
.navbar .container .left,
.navbar .container .right {
  display: flex;
  align-items: center;
  gap: 22px;
}
@media (max-width: 380px) {
  .navbar .container .left,
.navbar .container .right {
    gap: 10px;
  }
}
.navbar .container .left span,
.navbar .container .right span {
  cursor: pointer;
}
.navbar .container .left img {
  height: 25px;
  margin-right: 25px;
  cursor: pointer;
}
@media (max-width: 480px) {
  .navbar .container .left img {
    margin-right: 0px;
  }
}
.navbar .container .left span {
  transition: all 0.4s ease;
}
@media (max-width: 768px) {
  .navbar .container .left span {
    display: none;
  }
}
@media (max-width: 768px) {
  .navbar .container .left span.navbarmainLinks {
    display: block;
  }
}
.navbar .container .left span:hover {
  color: #8f8f8f;
}
.navbar .container .right .icon {
  cursor: pointer;
}
.navbar .container .right .dropdown {
  transition: all 0.4s ease;
}
.navbar .container .right .pfpicon img {
  height: 35px;
  width: 35px;
}
.navbar .container .right .pfpicon:hover > .dropdown {
  transform: rotate(180deg);
}
.navbar .container .right .options {
  display: none;
  background-color: var(--main-color);
  padding: 20px;
  right: 65px;
  top: 52px;
}
.navbar .container .right .options .opt {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navbar .container .right .options .opt a {
  text-decoration: none;
  color: inherit;
}
.navbar .container .right .options .opt:hover {
  text-decoration: underline;
}
.navbar .container .right .options hr {
  border: 0;
  border-top: 1px solid #7e7e7e;
  margin: 0 -20px;
}
.navbar .container .right .pfpicon:hover > .options {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: absolute;
}
.navbar .container .right img {
  height: 32px;
  border-radius: 5px;
  cursor: pointer;
}

.featured {
  height: 70vh;
  position: relative;
}
@media (max-width: 768px) {
  .featured {
    height: 60vh;
  }
}
@media (max-width: 480px) {
  .featured {
    height: 50vh;
  }
}
.featured .category {
  position: absolute;
  top: 80px;
  left: 50px;
  font-size: 35px;
  font-weight: 700;
  color: white;
  display: flex;
  align-items: center;
  gap: 40px;
}
@media (max-width: 480px) {
  .featured .category .featuredMovieType {
    display: none;
  }
}
.featured .category select {
  cursor: pointer;
  background-color: var(--main-color);
  border: 1px solid white;
  border-radius: none;
  color: white;
  padding: 5px;
  font-size: 18px;
  font-weight: 700;
}
@media (max-width: 480px) {
  .featured .category select {
    padding: 5px 0 5px 5px;
    margin-left: 200%;
    font-size: 12px;
  }
}
.featured .featured-header {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.featured .info {
  width: 35%;
  position: absolute;
  top: 45%;
  left: 4%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 768px) {
  .featured .info {
    width: 65%;
    top: 35%;
  }
}
@media (max-width: 480px) {
  .featured .info {
    width: 70%;
    top: 30%;
  }
}
@media (max-height: 800px) {
  .featured .info {
    top: 20%;
  }
}
.featured .description {
  color: #f4f1e9;
  font-size: 20px;
  font-weight: 500;
}
@media (max-width: 768px) {
  .featured .description {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .featured .description {
    font-size: 16px;
  }
}
.featured .buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}
.featured button {
  font-family: "Roboto", sans-serif;
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .featured button {
    font-size: 20px;
    padding: 10px 10px;
  }
}
@media (max-width: 480px) {
  .featured button {
    font-size: 16px;
    padding: 5px 5px;
  }
}
.featured .play {
  background-color: #f4f1e9;
  padding-right: 35px;
}
@media (max-width: 768px) {
  .featured .play {
    padding-right: 15px;
  }
}
@media (max-width: 480px) {
  .featured .play {
    padding-right: 15px;
  }
}
.featured .play:hover {
  background-color: rgba(255, 255, 255, 0.678);
}
.featured .more {
  color: white;
  background-color: rgba(207, 207, 207, 0.1843137255);
}
.featured .more:hover {
  background-color: rgba(207, 207, 207, 0.0941176471);
}
.featured .feat-icon {
  height: 40px;
  width: 40px;
}
@media (max-width: 480px) {
  .featured .feat-icon {
    height: 25px;
    width: 25px;
  }
}
.featured .age-rating {
  color: #f4f1e9;
  font-size: 20px;
  position: absolute;
  right: -175%;
  padding: 8px 70px 8px 8px;
  background-color: rgba(255, 255, 255, 0.0941176471);
  border-left: 3px solid #bebebe;
}
@media (max-width: 768px) {
  .featured .age-rating {
    right: -50%;
    padding-right: 30px;
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .featured .age-rating {
    right: -40%;
    padding-right: 30px;
    font-size: 12px;
  }
}

.list {
  width: 100%;
  position: relative;
  top: 20px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media (max-width: 768px) {
  .list {
    left: -40px;
  }
}
@media (max-width: 480px) {
  .list {
    left: -40px;
  }
}
.list .listTitle {
  color: #f4f1e9;
  font-size: 26px;
  font-weight: 700;
  margin-left: 65px;
}
.list .wrapper {
  position: relative;
}
.list .wrapper .arrowWrapper {
  width: 30px;
  height: 100%;
  padding: 0 15px;
  color: #f4f1e9;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  transition: all 0.1s linear;
  cursor: pointer;
  z-index: 99;
}
.list .wrapper .arrowWrapper.left {
  left: 0px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
@media (max-width: 768px) {
  .list .wrapper .arrowWrapper.left {
    left: 40px;
  }
}
@media (max-width: 480px) {
  .list .wrapper .arrowWrapper.left {
    left: 40px;
  }
}
.list .wrapper .arrowWrapper.right {
  right: 0px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
@media (max-width: 768px) {
  .list .wrapper .arrowWrapper.right {
    right: -40px;
  }
}
@media (max-width: 480px) {
  .list .wrapper .arrowWrapper.right {
    right: -40px;
  }
}
.list .wrapper .arrowWrapper:hover {
  background-color: rgba(22, 22, 22, 0.5);
}
.list .wrapper .sliderArrow {
  width: 30px;
  height: 100%;
  padding: 0 15px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  transition: all 0.1s linear;
  cursor: pointer;
  z-index: 99;
}
.list .wrapper .sliderArrow.left {
  left: 0px;
}
.list .wrapper .sliderArrow.right {
  right: 0px;
}
.list .wrapper .sliderArrow:hover {
  transform: scale(1.2);
}
.list .wrapper .container {
  margin-left: 65px;
  display: flex;
  gap: 8px;
  width: max-content;
  transition: all 0.5s ease;
}

.listItem {
  width: 240px;
  height: 135px;
  background-color: var(--main-color);
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
  color: #f4f1e9;
  position: relative;
}
.listItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.listItem video {
  width: 100%;
  height: 202.5px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.listItem:hover {
  z-index: 99;
  width: 360px;
  height: 360px;
  position: absolute;
  top: -120px;
  box-shadow: -10px 0px 13px -7px rgba(0, 0, 0, 0.3098039216), 10px 0px 13px -7px rgba(0, 0, 0, 0.3098039216), 5px 5px 0px -30px rgba(0, 0, 0, 0), 0px 10px 13px -7px rgba(0, 0, 0, 0.3098039216);
}
.listItem:hover img {
  height: 202.5px;
}
.listItem:hover .itemInfo {
  margin-left: 20px;
  width: 100%;
  height: 157.5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.listItem:hover .itemInfo .icons {
  display: flex;
  gap: 8px;
}
.listItem:hover .itemInfo .icons .play {
  padding: 5px;
  background-color: #f4f1e9;
  color: var(--main-color);
  border-radius: 50%;
  font-size: 28px;
}
.listItem:hover .itemInfo .icons .play:hover {
  background-color: rgba(255, 255, 255, 0.678);
}
.listItem:hover .itemInfo .icons .add,
.listItem:hover .itemInfo .icons .thumbsUp {
  padding: 5px;
  border: 2px solid #818181;
  border-radius: 50%;
}
.listItem:hover .itemInfo .icons .add:hover,
.listItem:hover .itemInfo .icons .thumbsUp:hover {
  border: 2px solid white;
  background-color: #272727;
}
.listItem:hover .itemInfo .itemInfoTop {
  display: flex;
  align-items: center;
  gap: 8px;
}
.listItem:hover .itemInfo .itemInfoTop .match {
  color: rgb(82, 212, 82);
  font-weight: 700;
}
.listItem:hover .itemInfo .itemInfoTop .duration {
  font-weight: 700;
}
.listItem:hover .itemInfo .itemInfoTop .bordered {
  padding: 2px 8px;
  border: 1px solid #8f8f8f;
}
.listItem:hover .itemInfo .itemInfoTop .bordered.hd {
  font-size: 10px;
}
.listItem:hover .itemInfo .genre {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 500;
}

.watch {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.watch .back {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  cursor: pointer;
  z-index: 2;
}
.watch .video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.register {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.8) 100%), url("./images/netflix_background.png") no-repeat;
  background-size: cover;
  color: white;
}
.register .logo {
  cursor: pointer;
}
.register .top .wrapper {
  padding: 25px 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.register .top .loginButton {
  background-color: #d60101;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 3px;
  padding: 6px 17px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}
.register .container {
  width: 40%;
  height: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: -50px;
}
@media (max-width: 768px) {
  .register .container {
    width: 80%;
  }
}
@media (max-width: 480px) {
  .register .container {
    width: 90%;
  }
}
.register .container h1 {
  font-size: 60px;
}
@media (max-width: 480px) {
  .register .container h1 {
    font-size: 50px;
  }
}
.register .container h2 {
  font-size: 30px;
  font-weight: 400;
}
@media (max-width: 480px) {
  .register .container h2 {
    font-size: 25px;
  }
}
.register .container p {
  font-size: 20px;
}
@media (max-width: 480px) {
  .register .container p {
    font-size: 16px;
  }
}
.register .container .input {
  width: 100%;
  display: flex;
  align-items: center;
}
.register .container .input input {
  height: 61px;
  width: 66%;
  text-indent: 10px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
.register .container .input button {
  height: 65px;
  width: 33%;
  background-color: #d60101;
  color: white;
  font-size: 30px;
  border: none;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}
@media (max-width: 480px) {
  .register .container .input button {
    font-size: 20px;
  }
}
.register .container .input button:hover {
  background-color: red;
}

.login {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.8) 100%), url("./images/netflix_background.png") no-repeat;
  background-size: cover;
  color: white;
}
.login .top .wrapper {
  padding: 25px 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login .container {
  width: 40%;
  height: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  margin-top: -50px;
}
.login .container form {
  width: 350px;
  height: 550px;
  padding: 30px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.8235294118);
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.login .container form input {
  height: 50px;
  font-family: "Roboto", sans-serif;
  text-indent: 10px;
  background-color: #333333;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: white;
}
.login .container form button {
  height: 50px;
  background-color: #d60101;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.login .container form span {
  color: #737373;
  margin-top: 50px;
}
.login .container form span .signUpLink {
  color: white;
  text-decoration: none;
}
.login .container form span .signUpLink:hover {
  text-decoration: underline;
  cursor: pointer;
}
.login .container form small {
  color: #737373;
  margin-top: -25px;
}
.login .container form small a {
  color: #005fc7;
  text-decoration: none;
}
.login .container form small a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*# sourceMappingURL=index.css.map */
